
//@font-face{font-family:Runescape;src:url('fonts/runescape_uf.ttf') format('truetype');font-weight:normal;font-style:normal;}
@font-face{font-family:Roboto;src:url('fonts/Roboto-Light.ttf') format('truetype');font-weight:normal;font-style:normal;}
@font-face{font-family:Clone;src:url('fonts/DS Clone.TTF') format('truetype');font-weight:normal;font-style:normal;}

* {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

html,body {
	width:100%; height:100%;
	margin:0;
}

body {
	padding:0;
	overflow:hidden;
	font-family:Roboto;
	font-size: 14px;
	background: #000;
	color: #fff;
}

h1,h2 {
	margin:10px;
}


.button {
	font-family: Clone;
	font-size: 32px;
	cursor:button;
	-webkit-user-select:none; -moz-user-select:none; user-select:none;
}


#mainmenu {
	//margin: 40px 0 0 50px;
	//padding:20px;
	background:#0b0b0b;
	cursor:default;
	-webkit-user-select:none; -moz-user-select:none; user-select:none;
}
#mainmenu-content {
	padding: 20px 10px 20px 10px;
	text-align: center;
	z-index:100;
}
#mainmenu .button {
	font-family: Clone;
	font-size: 32px;
	cursor:pointer;
}
#mainmenu .button:hover {
	color:#ffffff;
}
#mainmenu #wtf{
	position:fixed;
	//bottom:0;
	z-index:0;
	-webkit-user-select:none; -moz-user-select:none; user-select:none;
}


#scoreboard {
	background:#1f1f1f;
	//display:table;
	text-transform: uppercase;
}
#scoreboard div.entry {
	margin:0 0 2px 0;
}
#scoreboard div.entry span.user {
}
#scoreboard div.entry span.date {
	//margin-left: 12px;
}
#scoreboard div.entry span.score {
	//margin-left: 12px;
}


#social {
	position: fixed;
	bottom:0;
	left:0;
}

#gamemenu {
	width: 100%;
	height: 100px;
	margin: 14px 10px 6px 14px;
	font-size: 20px;
	-webkit-user-select:none;
	cursor:default;
}
#gamemenu #time {
}


#pausemenu {
	position: fixed;
	top:10px;
	left:10px;
	padding: 10px;
	background: #0b0b0b;
}


#resultmenu {
	position: fixed;
	top:10px;
	left:10px;
	padding: 10px;
	background: #0b0b0b;
}

#resultmenu input[type=text] {
	border:none;

}

/*
#google_plus_button {
	position: fixed;
	left:10px;
	bottom:10px;
}
*/

/*
@-webkit-keyframes blur-anim {
  from { -webkit-filter: blur(0); }
  to   { -webkit-filter: blur(10px); }
}

@-webkit-keyframes grayscale-anim {
  from { -webkit-filter: grayscale(0); }
  to   { -webkit-filter: grayscale(1); }
}

.blur {
	-webkit-animation: blur-anim 0.5s linear;
	-webkit-animation-direction: alternate;
	-webkit-animation-iteration-count: infinite;
}
.grayscale {
  -webkit-animation: grayscale-anim 2s ease-in-out;
  -webkit-animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
}
*/
